<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.a171y005.quizsc">

    <application
        android:name="Goal"
        android:allowBackup="true"
        android:icon="@drawable/sharp_school_24"
        android:label="英単語学習"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity android:name=".TitleActivity"
                    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ResultActivity">
        </activity>
        <activity android:name=".WordActivity">
        </activity>
        <activity android:name=".LogActivity">
        </activity>

    </application>

</manifest>